/* Display Font. Shrikhand
Will play with them and see which I like better and then clean up the import. */
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
/* Titles and headers. Contains: 
Will play with and then clean up later.*/
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #36454f;
    font-size: 16px;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

h1{
    font-family: Shrikhand, cursive, Arial, Helvetica, sans-serif;
    padding: 1rem;
    color: #f9f9f9;
}

dl {
    padding: 1rem;
}


dt{
    font-size: 24px;
    font-family: Anton, Arial, Helvetica, sans-serif;
    margin-left: 1rem;
    color: #BE8A60;
}

dd{
    margin: 0 1rem 1rem 3rem;
}

li {
    margin: 0.5rem;
    padding: 0rem;
}

p {
    line-height: 125% ;
}

header {
    background-color: #15744f;
}

footer {
    background-color: #15744f;
    padding: 1rem;
    color: #f9f9f9;
}

.colors {
    border: 1px solid transparent;
    border-radius: 15px;
    padding: 1rem;
    background-color: #fff;
}

.page{
    background-color: #f9f9f9;
    max-width: 840px;
    margin: 0 auto;
}

.displayFont{
    font-family: Shrikhand, cursive, Arial, Helvetica, sans-serif;
}

.titleFont{
    font-family: Anton, Arial, Helvetica, sans-serif;
}

.emphasis {
    font-size: larger;
    font-weight: bolder;
}